<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>archived</key>
		<false/>
		<key>completed</key>
		<false/>
		<key>due</key>
		<date>2026-09-24T12:00:00Z</date>
		<key>id</key>
		<string>388D0E5B-2229-43B0-AC03-8355F7166270</string>
		<key>notes</key>
		<string>整理实验结果，附上运行截图。</string>
		<key>priority</key>
		<integer>2</integer>
		<key>reminder</key>
		<integer>2</integer>
		<key>subject</key>
		<string>数据结构</string>
		<key>title</key>
		<string>完成二叉树实验报告</string>
	</dict>
	<dict>
		<key>archived</key>
		<false/>
		<key>completed</key>
		<false/>
		<key>due</key>
		<date>2026-09-25T10:00:00Z</date>
		<key>id</key>
		<string>BABBB10B-6E51-47AF-8AFA-C3E172EE7E49</string>
		<key>notes</key>
		<string>重点阅读 Introduction 和 Discussion。</string>
		<key>priority</key>
		<integer>1</integer>
		<key>reminder</key>
		<integer>2</integer>
		<key>subject</key>
		<string>英语</string>
		<key>title</key>
		<string>阅读论文并完成摘要</string>
	</dict>
	<dict>
		<key>archived</key>
		<false/>
		<key>completed</key>
		<false/>
		<key>due</key>
		<date>2026-09-27T15:59:00Z</date>
		<key>id</key>
		<string>E528313D-E4C7-4C95-909A-865D690F45D4</string>
		<key>notes</key>
		<string>梳理三个最有代表性的项目。</string>
		<key>priority</key>
		<integer>0</integer>
		<key>reminder</key>
		<integer>2</integer>
		<key>subject</key>
		<string>设计</string>
		<key>title</key>
		<string>整理作品集第一版</string>
	</dict>
	<dict>
		<key>archived</key>
		<false/>
		<key>completed</key>
		<false/>
		<key>due</key>
		<date>2026-09-24T15:59:00Z</date>
		<key>id</key>
		<string>339615A6-6C33-4769-93AA-ED8A3C68D6A5</string>
		<key>notes</key>
		<string></string>
		<key>priority</key>
		<integer>1</integer>
		<key>reminder</key>
		<integer>2</integer>
		<key>subject</key>
		<string>高等数学</string>
		<key>title</key>
		<string>提交第六周习题</string>
	</dict>
	<dict>
		<key>archived</key>
		<false/>
		<key>completed</key>
		<false/>
		<key>due</key>
		<date>2026-09-26T04:00:00Z</date>
		<key>id</key>
		<string>E728DFBE-EE11-4C11-8BEC-0BAC830349C7</string>
		<key>notes</key>
		<string></string>
		<key>priority</key>
		<integer>0</integer>
		<key>reminder</key>
		<integer>2</integer>
		<key>subject</key>
		<string>生活</string>
		<key>title</key>
		<string>预约周末的羽毛球场</string>
	</dict>
	<dict>
		<key>archived</key>
		<false/>
		<key>completed</key>
		<true/>
		<key>due</key>
		<date>2026-09-23T10:00:00Z</date>
		<key>id</key>
		<string>6C87E6A6-3458-4C1E-A7F6-D7FC4E866E10</string>
		<key>notes</key>
		<string></string>
		<key>priority</key>
		<integer>0</integer>
		<key>reminder</key>
		<integer>2</integer>
		<key>subject</key>
		<string>计算机网络</string>
		<key>title</key>
		<string>复习 TCP / IP 协议</string>
	</dict>
</array>
</plist>
